<!-- footer.ejs -->
        </main>
        <footer class="bottom-0 text-center text-gray-500">
            <!-- Add footer content here -->
            <p class="my-5">&copy; 2024 Inventory App</p>
        </footer>
    </body>
</html>
